<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="FinInst_CIK" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ClassTitles" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <FinInst_CIK>
    <add key="blackRock"     value="0001364742" />
    <add key="vanguard"      value="0000102909" />
    <add key="fidelity"      value="0001098151" />
    <add key="stateStreet"   value="0000093751" />
    <add key="morganStanley" value="0000895421" />
    <add key="jpMorgan"      value="0000019617" />
    <add key="goldmanSachs"  value="0000886982" />
  </FinInst_CIK>
  
  <appSettings>     
    <add key="quantumonlineUrl" value="https://www.quantumonline.com/search.cfm?tickersymbol={ticker_placeholder}&amp;sopt=symbol&amp;1.0.1=Search" />
    <add key="snpUrl" value="https://www.slickcharts.com/sp500" />
    <add key="secHost" value="https://www.sec.gov" />    
    <add key="classTitles" value="OPTIONS,COM,Common Stock,COMMON,CMN" />
    <add key="getFilingsTemplate" value="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&amp;CIK={CIK_placeholder}&amp;type=13f&amp;dateb=&amp;owner=include&amp;count=10&amp;search_text=" />
  </appSettings>

</configuration>